__pycache__/
*.py[cod]

*.vscode

mypy_output.txt
pylint_output.txt
flake8_output.txt
bin/fixture_processor/
bin/fixture_processor_x86/
build/
Git Bash.lnk

.history
.DS_Store
/APPDATA
.env

Pipfile.lock
.env
references/inline_panel/verifier/inserts
.env
references/inline_panel/wiring_machine/inserts
references/inline_panel/wiring_machine/wires
references/inline_panel/verifier/wires
.env
src/APPDATA/ForwessunFixtures/config.ini
src/APPDATA/ForwessunFixtures/ffp.log
